<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Pantry</title>
    </head>

    <body>
        <%- include('../partials/_navbar.ejs') %>

        <h1>Welcome to Your Pantry</h1>

        <a href="/users/<%=user._id%>/foods/new">Add New Item</a>

        <% if (pantry.length >= 1 ) {%>
            <ul>
                <% pantry.forEach((pantry) => { %>
                    <li>
                        <a href="/users/<%= user._id %>/foods/<%= pantry._id %>">
                            <%= pantry.name %>
                        </a>
                        
                    </li>
                <% }) %>
            </ul>
        <% } else { %> 
            <h1>There are no items in this pantry</h1>
        <% } %>
    </body>
</html>
